.navbar{
	background-color: transparent;
  font-family:'montserrat', sans-serif;

}

.navbar a {
  font-size: 25px;
  color: white;
  float: left;
}
.navbar a:hover{
  color: white;
  text-decoration: underline;
}
.navbar .active{
  text-decoration: underline;
}
.navbar a:active{
  text-decoration: underline;
}

body {
  height: 100vh;
  background: linear-gradient(to bottom left,#2E3192 , #1BFFFF);
}

/*DropButton*/
.dropbtn {
    background-color: transparent;
    color: white;
    padding: 20px;
    font-size: 16px;
    border: none;
    cursor: pointer;
	font-family: 'montserrat', sans-serif;
  font-size: 25px;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: transparent;
    min-width: 160px;
}

.dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
  background-color: grey;
	opacity: inherit;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: transparent;
}
